* {
    font-family: "Noto_Regular", sans-serif;
}

.white {
    color: white;
}

.boldlogo {
    font-family: "Mont_Heavy", sans-serif !important;
}

.lightlogo {
    font-family: "Mont_ExtraLight", sans-serif !important;
}

.inline {
    display: inline;
}

.wh100 {
    width: 100%;
    height: 100%;
    /* background-color: #f7f8fa; */
}

#playground {
    width: 100%;
    height: 100%;
}

.static {
    cursor: not-allowed;
}
.draggable {
    cursor: move;
}
header {
    padding: 10 30 10 30;
    background-color: #1a1a1a;
}

body {
    margin: 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }